.card {
  border: 1px solid;
  padding: 10px 0 10px 20px;
  border-radius: 5px;
  border-color: #dfdfdf;
  flex-direction: row;
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: 20px auto;
  margin-left: 60px;
  width: 700px;
  background-color: #f5f5f5;
}


.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.name {
  align-self: center;
  color: #8e838c;
  width: 180px;
}

.email {
  align-self: center;
  align-items: stretch;
  color: #868889;
}

.emaildiv {
  display: flex;
  padding-inline-end: 30px;
  overflow-x: hidden;
}

.nationdiv {
  margin-left: 65px;
}

.nationality {
  width: 720px;
  padding: 5px 5px 5px 5px;
  color: #747474;

}

.genderdiv {
  flex-direction: column;
  display: flex;
  margin-left: 60px;
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .card {
    width: 400px;
    flex-direction: column;
  }

  .nationality {
    width: 420px;
  }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
  .carddiv {
    overflow-y: scroll;
    margin-top: 10px;
    /* height: 540px; */
    height: 100%;
  }

  .card {
    width: 320px
  }

  .first {
    flex-direction: column;
    justify-content: center;
  }

  .nationdiv {
    margin-left: 64px;
  }

  .nationality {
    width: 340px;
  }

  .name {
    width: 300px;
  }
}

@media screen and (max-width: 420px) {
  .carddiv {
    overflow-y: scroll;
    margin-top: 10px;
    height: 100%;
  }

  .card {
    width: 320px;
    flex-direction: column;
    margin-left: 15px;

  }

  .first {
    flex-direction: column;
    justify-content: center;
  }

  .name {
    width: 300px;
    /* background-color: pink; */
    font-size: 24px;
  }

  .emaildiv {
    margin: 0;
    padding: 0;
    /* background-color: pink; */
  }

  .email {
    font-size: 22px;
  }

  .nationdiv {
    margin-left: 15px;
  }

  .nationality {
    width: 340px;
  }

  .genderdiv {
    margin-left: 10px;
  }
}